body {
    background-color: #1A1A4E;
}

h1 {
    text-align: center;
    color: #FFFFFF;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    text-align: center;
    color: #FFFFFF;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.overall {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.parent-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.parent-guess {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.parent-cards.drag-over,
.parent-guess.drag-over {
    background-color: rgba(212, 175, 55, 0.1);
    border: 2px dashed #D4AF37;
    border-radius: 10px;
}

.card {
    cursor: grab;

    display: flex;
    flex-direction: column;
    width: 75%;
    background-color: #FFFFFF;
    border-color: #D4AF37;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    user-select: none;
}

@media (min-width: 1024px) {
    .card {
        width: 40%; /* or whatever width you want */
    }
}

.card:active {
  cursor: grabbing;
}

.card.dragging {
  opacity: 0.5;
}

.card > h2 {
    font-family: 'Montserrat', sans-serif;
    color: #1A1A4E;
    margin-top: 7px;
    margin: 4px
}

.card > p {
    font-family: 'Lato', sans-serif;
    color: #4A4A4A;
    margin-bottom: 3px;
    margin: 1px;
}

.card > img {
    width: 76%;
    border-radius: 10px;
}

.card.insert-above {
    border-top: 3px solid #D4AF37;
}

.card.insert-below {
    border-bottom: 3px solid #D4AF37;
}